 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <title>Snack </title>
</head>
<body>
  <div class="image">
    <img src="https://media.apnarm.net.au/media/images/2019/01/22/imagev170129559c4fe6c35f9bbb5529d0076fa-mz4ujz2l1q6oakt7or2_t1880.jpg" alt="food">
  </div>
  {% block content %}

  {% endblock content %}
</body>
</html>